{% extends 'base.html' %}

{% block body %}

<a href="{{ url_for('kabu')}}">株式テクニカル分析</a>
        <br><br>
        <h1>持ち物ギアリスト</h1>
                {% if gears == [] %}
                    <p>今はギアを持っていません</p>
                    <form method="post" action="{{url_for('register')}}">
                        <table border="1">
                            <tr>
                                <th>ギア名</th>
                                <th>重量</th>
                                <th>備考</th>
                            </tr>
                            <tr>
                                <td><input type="text" name="name"></td>
                                <td><input type="text" name="weight"></td>
                                <td><input type="text" name="price"></td>
                                <td>
                                    <input type="submit" value="登録">
                                </td>
                            </tr>
                        </table>
                    </form>
                {% else %}
                    <form method="post" action="{{url_for('register')}}">
                        <table border="1">
                            <tr>
                                <th>ギア名</th>
                                <th>重量</th>
                                <th>備考</th>
                            </tr>
                            {% for gear in gears %}
                            <tr>
                                <td>{{gear.name}}</td>
                                <td>{{gear.weight}}</td>
                                <td>{{gear.price}}</td>
                                <td>
                                    <a href="/delete_list/{{ gear.name }}">
                                        <button type="button">削除</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr></tr><tr></tr><tr></tr><tr></tr>
                            <tr></tr><tr></tr><tr></tr><tr></tr>
                            <tr>
                                <td><input type="text" name="name"></td>
                                <td><input type="text" name="weight"></td>
                                <td><input type="text" name="price"></td>
                                <td>
                                    <input type="submit" value="登録">
                                </td>
                            </tr>
                        </table>
                        
                    </form>

                {% endif %} 

                <img src="data:image/png;base64,{{ img_pie }}" /><br>

{%endblock%}
