{% extends 'base.html' %}

{% block body %}

        <a href="{{ url_for('index')}}">キャンプギアリスト</a>
        <br><br>
        <h1>株式テクニカル分析</h1>
        <form method="post" action="{{url_for('eval_kabu')}}">
            <table border="1">
                <tr>
                    <th>株式コード</th>
                    <th>いつから</th>
                    <th>いつまで</th>
                </tr>
                <tr>
                    <td><input type="text" name="company_name" value="^SPX"></td>
                    <td><input type="text" name="start" value="2022-09-01"></td>
                    <td><input type="text" name="end" value="today"></td>
                </tr>
            </table>
            <input type="submit" value="分析開始">
        </form>
        
        {% if patarn == 1 %}
        
        {% elif patarn == 3 %}
        
            <h2>フォームに正しく入力してください</h2>

        {% else %}
            <h2>■Result</h2>
            <h3>CODE:{{stock_name}}</h3>
            <h3>From:{{start}}  　To:{{end}}</h3>
        
            <br>
            <table border="1">
                <tr>
                    <th></th>
                    <th>Daily</th>
                    <th>Weekly</th>
                    <th>Monthly</th>
                </tr>
                <tr>
                    <th>Cross</th>
                    <td>{{gd_s}}</td>
                    <td>{{gd_m}}</td>
                    <td>{{gd_l}}</td>
                </tr>
                <tr>
                    <th>RSI</th>
                    <td>{{rsi_s}}</td>
                    <td>{{rsi_m}}</td>
                    <td>{{rsi_l}}</td>
                </tr>
                <tr>
                    <th>MACD</th>
                    <td>{{macd_s}}</td>
                    <td>{{macd_m}}</td>
                    <td>{{macd_l}}</td>
                </tr>
                <tr>
                    <th>BBANDS</th>
                    <td>{{bbands_s}}</td>
                    <td>{{bbands_m}}</td>
                    <td>{{bbands_l}}</td>
                </tr>
            </table>
            
            <img src="data:image/png;base64,{{ img_cls }}" /><br>
            <img src="data:image/png;base64,{{ img_rsi }}" /><br>
            <img src="data:image/png;base64,{{ img_vol }}" /><br>
        {% endif %} 

{%endblock%}